openapi: 3.0.3
info:
  title: Pharmacy Sys API
  version: 1.5.0
  description: >
    BP1 — Auth, Users, RBAC, Settings (Egypt-first defaults).
    BP2 — Customers, Suppliers, Vendors, Payment Methods, Catalog (Categories,
    Medicine Types, Units, Leaves) and Medicines.
    BP3 — Purchases (draft-cart + commit), Purchase Returns, Stock & Batches.
    BP4 — POS (cart + checkout), Invoices, Sale Returns, Invoice PDF/Email.
    BP5 — Clinical: Doctors, Patients, Lab Tests (global/no shop_id), and
    Prescriptions (shop-scoped, with a working PATCH fixing Laravel's broken
    update()).
    BP6 — Expenses & Accounting: Expense Categories/Expenses (shop-scoped,
    ledger-synced on update/delete), Account Types/Accounts/Ledger
    Transactions (global, manual JE support), and Trial Balance/Balance
    Sheet/Income Statement reports using conventional accounting.
    BP7 — Operational Reports (customer dues, supplier payables, sale/purchase,
    profit/loss — all shop-scoped, with .xlsx exports via exceljs), Dashboard
    summary (auth-only, shop-scoped, shop-timezone-aware), Notifications
    (personal inbox, auth-only), and Languages (i18n catalog with mergeable
    per-language terms).
servers:
  - url: https://api.demo.pharmacy.code-solution.org
    description: Production
  - url: http://localhost:3000
    description: Local
paths:
  /api/health:
    get:
      summary: Health check
      responses:
        "200":
          description: OK
  /api/v1/auth/login:
    post:
      tags: [Auth]
      summary: Login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email }
                password: { type: string }
      responses:
        "200": { description: Tokens + user }
        "401": { description: Invalid credentials }
  /api/v1/auth/refresh:
    post:
      tags: [Auth]
      summary: Rotate refresh token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken]
              properties:
                refreshToken: { type: string }
      responses:
        "200": { description: New tokens }
  /api/v1/auth/logout:
    post:
      tags: [Auth]
      summary: Revoke refresh token
      responses:
        "200": { description: Logged out }
  /api/v1/auth/forgot-password:
    post:
      tags: [Auth]
      summary: Request password reset
      responses:
        "200": { description: Always OK (no enumeration) }
  /api/v1/auth/reset-password:
    post:
      tags: [Auth]
      summary: Reset password with token
      responses:
        "200": { description: Password updated }
  /api/v1/auth/me:
    get:
      tags: [Auth]
      security: [{ bearerAuth: [] }]
      summary: Current user + permissions
      responses:
        "200": { description: User }
  /api/v1/auth/profile:
    patch:
      tags: [Auth]
      security: [{ bearerAuth: [] }]
      summary: Update profile
      responses:
        "200": { description: Updated user }
  /api/v1/auth/password:
    patch:
      tags: [Auth]
      security: [{ bearerAuth: [] }]
      summary: Change password
      responses:
        "200": { description: Password changed }
  /api/v1/users:
    get:
      tags: [Users]
      security: [{ bearerAuth: [] }]
      summary: List users
      responses:
        "200": { description: Paginated users }
    post:
      tags: [Users]
      security: [{ bearerAuth: [] }]
      summary: Create user
      responses:
        "201": { description: Created }
  /api/v1/users/{id}:
    get:
      tags: [Users]
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: User }
    patch:
      tags: [Users]
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Updated }
    delete:
      tags: [Users]
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Deleted }
  /api/v1/roles:
    get:
      tags: [RBAC]
      security: [{ bearerAuth: [] }]
      summary: List roles
      responses:
        "200": { description: Roles }
    post:
      tags: [RBAC]
      security: [{ bearerAuth: [] }]
      summary: Create role
      responses:
        "201": { description: Created }
  /api/v1/roles/{id}:
    get:
      tags: [RBAC]
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Role with permissions }
    patch:
      tags: [RBAC]
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Updated }
    delete:
      tags: [RBAC]
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Deleted }
  /api/v1/permissions:
    get:
      tags: [RBAC]
      security: [{ bearerAuth: [] }]
      summary: Permission catalog grouped by module
      responses:
        "200": { description: Catalog }
  /api/v1/shop:
    get:
      tags: [Settings]
      security: [{ bearerAuth: [] }]
      summary: Current shop
      responses:
        "200": { description: Shop }
  /api/v1/settings/general:
    get:
      tags: [Settings]
      security: [{ bearerAuth: [] }]
      summary: General shop settings
      responses:
        "200": { description: Settings }
    patch:
      tags: [Settings]
      security: [{ bearerAuth: [] }]
      summary: Update general settings
      responses:
        "200": { description: Updated }
  /api/v1/settings/email:
    get:
      tags: [Settings]
      security: [{ bearerAuth: [] }]
      summary: Email/SMTP settings (password masked)
      responses:
        "200": { description: Settings }
    patch:
      tags: [Settings]
      security: [{ bearerAuth: [] }]
      summary: Update SMTP settings
      responses:
        "200": { description: Updated }
  /api/v1/settings/kv:
    get:
      tags: [Settings]
      security: [{ bearerAuth: [] }]
      summary: Key/value settings
      responses:
        "200": { description: KV }
    put:
      tags: [Settings]
      security: [{ bearerAuth: [] }]
      summary: Upsert KV setting
      responses:
        "200": { description: Saved }
  /api/v1/settings/pos-printer:
    get:
      tags: [Settings]
      security: [{ bearerAuth: [] }]
      summary: POS printer / receipt preferences (any authenticated user)
      description: >
        Stored as settings KV name `pos.printer` (JSON). Defaults when unset:
        autoPrint=false, preferredPrinter=null, paperSize=A4, receiptFooter=null.
      responses:
        "200":
          description: POS printer settings
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  data:
                    $ref: '#/components/schemas/PosPrinterSettings'
    patch:
      tags: [Settings]
      security: [{ bearerAuth: [] }]
      summary: Update POS printer preferences (requires setting.generalSetting)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                autoPrint: { type: boolean }
                preferredPrinter: { type: string, nullable: true, maxLength: 255 }
                paperSize: { type: string, enum: [A4, '80mm', '58mm'] }
                receiptFooter: { type: string, nullable: true, maxLength: 500 }
      responses:
        "200":
          description: Updated POS printer settings
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  data:
                    $ref: '#/components/schemas/PosPrinterSettings'
        "403": { description: Missing setting.generalSetting }
  /api/v1/payment-methods:
    get:
      tags: [PaymentMethods]
      security: [{ bearerAuth: [] }]
      summary: List payment methods
      parameters:
        - in: query
          name: page
          schema: { type: integer }
        - in: query
          name: limit
          schema: { type: integer }
      responses:
        "200": { description: Paginated payment methods }
    post:
      tags: [PaymentMethods]
      security: [{ bearerAuth: [] }]
      summary: Create payment method
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string }
                balance: { type: number }
      responses:
        "201": { description: Created }
        "409": { description: Name already in use }
  /api/v1/payment-methods/{id}:
    get:
      tags: [PaymentMethods]
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Payment method }
    patch:
      tags: [PaymentMethods]
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Updated }
    delete:
      tags: [PaymentMethods]
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Deleted }
  /api/v1/payment-methods/{id}/deposits:
    post:
      tags: [PaymentMethods]
      security: [{ bearerAuth: [] }]
      summary: Deposit into a payment method balance
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount]
              properties:
                amount: { type: number, minimum: 0.01 }
      responses:
        "200": { description: Updated balance }
  /api/v1/customers:
    get:
      tags: [Customers]
      security: [{ bearerAuth: [] }]
      summary: List customers (shop-scoped)
      responses:
        "200": { description: Paginated customers }
    post:
      tags: [Customers]
      security: [{ bearerAuth: [] }]
      summary: Create customer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, email, phone]
              properties:
                name: { type: string }
                email: { type: string, format: email }
                phone: { type: string }
                address: { type: string, nullable: true }
                gender: { type: string, enum: [Male, Female] }
                age: { type: integer }
      responses:
        "201": { description: Created }
        "409": { description: Email or phone already in use for this shop }
  /api/v1/customers/{id}:
    get:
      tags: [Customers]
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Customer }
    patch:
      tags: [Customers]
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Updated }
    delete:
      tags: [Customers]
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Deleted }
  /api/v1/customers/{id}/payments:
    post:
      tags: [Customers]
      security: [{ bearerAuth: [] }]
      summary: Pay down customer due balance
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount, paymentMethodId]
              properties:
                amount: { type: number, minimum: 0.01 }
                paymentMethodId: { type: integer }
                invoiceId: { type: integer }
      responses:
        "200": { description: Updated customer with reduced due }
        "400": { description: Amount exceeds due or invalid payment method/invoice }
  /api/v1/suppliers:
    get:
      tags: [Suppliers]
      security: [{ bearerAuth: [] }]
      summary: List suppliers
      responses:
        "200": { description: Paginated suppliers }
    post:
      tags: [Suppliers]
      security: [{ bearerAuth: [] }]
      summary: Create supplier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, phone]
              properties:
                name: { type: string }
                phone: { type: string }
                address: { type: string, nullable: true }
      responses:
        "201": { description: Created }
        "409": { description: Phone already in use for this shop }
  /api/v1/suppliers/{id}:
    get:
      tags: [Suppliers]
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Supplier }
    patch:
      tags: [Suppliers]
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Updated }
    delete:
      tags: [Suppliers]
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Deleted }
  /api/v1/suppliers/{id}/payments:
    post:
      tags: [Suppliers]
      security: [{ bearerAuth: [] }]
      summary: Pay down supplier due from a payment method balance
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount, paymentMethodId]
              properties:
                amount: { type: number, minimum: 0.01 }
                paymentMethodId: { type: integer }
                purchaseId: { type: integer }
      responses:
        "200": { description: Updated supplier with reduced due }
        "400": { description: Amount exceeds due or payment method balance insufficient }
  /api/v1/vendors:
    get:
      tags: [Vendors]
      security: [{ bearerAuth: [] }]
      summary: List vendors
      responses:
        "200": { description: Paginated vendors }
    post:
      tags: [Vendors]
      security: [{ bearerAuth: [] }]
      summary: Create vendor
      responses:
        "201": { description: Created }
  /api/v1/vendors/{id}:
    get:
      tags: [Vendors]
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Vendor }
    patch:
      tags: [Vendors]
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Updated }
    delete:
      tags: [Vendors]
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Deleted }
  /api/v1/product-categories:
    get:
      tags: [Categories]
      security: [{ bearerAuth: [] }]
      summary: List product categories
      responses:
        "200": { description: Paginated categories }
    post:
      tags: [Categories]
      security: [{ bearerAuth: [] }]
      summary: Create product category (slug auto-generated from title)
      responses:
        "201": { description: Created }
  /api/v1/product-categories/{id}:
    get:
      tags: [Categories]
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Category }
    patch:
      tags: [Categories]
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Updated }
    delete:
      tags: [Categories]
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Deleted }
  /api/v1/medicine-types:
    get:
      tags: [Catalog]
      security: [{ bearerAuth: [] }]
      summary: List medicine types
      responses:
        "200": { description: Paginated medicine types }
    post:
      tags: [Catalog]
      security: [{ bearerAuth: [] }]
      summary: Create medicine type
      responses:
        "201": { description: Created }
  /api/v1/medicine-types/{id}:
    patch:
      tags: [Catalog]
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Updated }
    delete:
      tags: [Catalog]
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Deleted }
  /api/v1/units:
    get:
      tags: [Catalog]
      security: [{ bearerAuth: [] }]
      summary: List units
      responses:
        "200": { description: Paginated units }
    post:
      tags: [Catalog]
      security: [{ bearerAuth: [] }]
      summary: Create unit
      responses:
        "201": { description: Created }
  /api/v1/units/{id}:
    patch:
      tags: [Catalog]
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Updated }
    delete:
      tags: [Catalog]
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Deleted }
  /api/v1/leaves:
    get:
      tags: [Catalog]
      security: [{ bearerAuth: [] }]
      summary: List leaves (pack/box conversion units)
      responses:
        "200": { description: Paginated leaves }
    post:
      tags: [Catalog]
      security: [{ bearerAuth: [] }]
      summary: Create leaf
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string }
                amount: { type: integer, minimum: 1 }
      responses:
        "201": { description: Created }
  /api/v1/leaves/{id}:
    patch:
      tags: [Catalog]
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Updated }
    delete:
      tags: [Catalog]
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Deleted }
  /api/v1/medicines:
    get:
      tags: [Medicines]
      security: [{ bearerAuth: [] }]
      summary: List medicines (search, categoryId, supplierId filters)
      parameters:
        - in: query
          name: search
          schema: { type: string }
        - in: query
          name: categoryId
          schema: { type: integer }
        - in: query
          name: supplierId
          schema: { type: integer }
      responses:
        "200": { description: Paginated medicines }
    post:
      tags: [Medicines]
      security: [{ bearerAuth: [] }]
      summary: Create medicine
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, genericName, qrCode, supplierId, status, description]
              properties:
                name: { type: string }
                genericName: { type: string }
                qrCode: { type: string }
                description: { type: string }
                status: { type: string, enum: [active, inactive] }
                supplierId: { type: integer }
                vendorId: { type: integer, nullable: true }
                price: { type: number }
                buyPrice: { type: number }
                categoryIds: { type: array, items: { type: integer } }
                barcodes: { type: array, items: { type: string } }
      responses:
        "201": { description: Created }
        "409": { description: QR code already in use for this shop }
  /api/v1/medicines/barcode:
    post:
      tags: [Medicines]
      security: [{ bearerAuth: [] }]
      summary: Suggest a unique EAN-13 barcode for this shop
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                prefix: { type: string }
      responses:
        "200": { description: Suggested barcode }
  /api/v1/medicines/{id}:
    get:
      tags: [Medicines]
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Medicine }
    patch:
      tags: [Medicines]
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Updated }
    delete:
      tags: [Medicines]
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Deleted }
  /api/v1/purchases/drafts:
    post:
      tags: [Purchases]
      security: [{ bearerAuth: [] }]
      summary: Create an empty purchase draft (cart)
      responses:
        "201": { description: Draft created }
  /api/v1/purchases/drafts/{id}:
    get:
      tags: [Purchases]
      security: [{ bearerAuth: [] }]
      summary: Get a draft with server-computed totals
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Draft with computed totals }
    patch:
      tags: [Purchases]
      security: [{ bearerAuth: [] }]
      summary: Set supplier, payment method, paid amount, invoice discount
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                supplierId: { type: integer, nullable: true }
                paymentMethodId: { type: integer, nullable: true }
                paidAmount: { type: number }
                invoiceDiscount:
                  type: object
                  properties:
                    value: { type: number }
                    type: { type: string, enum: [percent, fixed] }
      responses:
        "200": { description: Updated draft }
  /api/v1/purchases/drafts/{id}/lines:
    post:
      tags: [Purchases]
      security: [{ bearerAuth: [] }]
      summary: Add or update a draft line (keyed by medicineId)
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [medicineId, quantity, buyPrice]
              properties:
                medicineId: { type: integer }
                quantity: { type: integer, minimum: 1 }
                buyPrice: { type: number }
                price: { type: number }
                batchName: { type: string, nullable: true }
                expireDate: { type: string, format: date, nullable: true }
                discount: { type: number }
                discountType: { type: string, enum: [percent, fixed] }
      responses:
        "200": { description: Updated draft }
  /api/v1/purchases/drafts/{id}/lines/{lineId}:
    delete:
      tags: [Purchases]
      security: [{ bearerAuth: [] }]
      summary: Remove a draft line
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
        - in: path
          name: lineId
          required: true
          schema: { type: string }
      responses:
        "200": { description: Updated draft }
  /api/v1/purchases:
    get:
      tags: [Purchases]
      security: [{ bearerAuth: [] }]
      summary: List purchases
      parameters:
        - in: query
          name: supplierId
          schema: { type: integer }
      responses:
        "200": { description: Paginated purchases }
    post:
      tags: [Purchases]
      security: [{ bearerAuth: [] }]
      summary: Commit a draft into a purchase (batches, supplier due, ledger)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [draftId]
              properties:
                draftId: { type: integer }
      responses:
        "201": { description: Purchase created }
        "422": { description: Empty cart / insufficient payment method balance }
  /api/v1/purchases/{id}:
    get:
      tags: [Purchases]
      security: [{ bearerAuth: [] }]
      summary: Purchase detail with batches, pays, and returns
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Purchase }
  /api/v1/purchases/{id}/returns:
    post:
      tags: [Purchases]
      security: [{ bearerAuth: [] }]
      summary: Return purchased quantity for a medicine/batch back to the supplier
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [medicineId, quantity]
              properties:
                medicineId: { type: integer }
                quantity: { type: integer, minimum: 1 }
                batchId: { type: integer }
      responses:
        "201": { description: Return recorded }
        "422": { description: Return quantity exceeds batch quantity }
  /api/v1/purchase-returns:
    get:
      tags: [Purchases]
      security: [{ bearerAuth: [] }]
      summary: Purchase return history (filter by purchaseId, supplierId)
      parameters:
        - in: query
          name: purchaseId
          schema: { type: integer }
        - in: query
          name: supplierId
          schema: { type: integer }
      responses:
        "200": { description: Paginated purchase returns }
  /api/v1/batches:
    get:
      tags: [Stock]
      security: [{ bearerAuth: [] }]
      summary: List batches (filter by medicineId, expireBefore)
      parameters:
        - in: query
          name: medicineId
          schema: { type: integer }
        - in: query
          name: expireBefore
          schema: { type: string, format: date }
      responses:
        "200": { description: Paginated batches }
  /api/v1/batches/{id}/price:
    patch:
      tags: [Stock]
      security: [{ bearerAuth: [] }]
      summary: Update a batch's sale price (prospective only)
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [price]
              properties:
                price: { type: number }
      responses:
        "200": { description: Updated batch }
  /api/v1/stock/summary/{medicineId}:
    get:
      tags: [Stock]
      security: [{ bearerAuth: [] }]
      summary: Real on-hand stock (SUM of batch qty) for a medicine
      parameters:
        - in: path
          name: medicineId
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Stock summary }
  /api/v1/stock/in-stock:
    get:
      tags: [Stock]
      security: [{ bearerAuth: [] }]
      summary: Medicines with on-hand stock > 0
      responses:
        "200": { description: In-stock medicines }
  /api/v1/stock/low:
    get:
      tags: [Stock]
      security: [{ bearerAuth: [] }]
      summary: Medicines below shop.lowStockAlert
      responses:
        "200": { description: Low-stock medicines }
  /api/v1/stock/out:
    get:
      tags: [Stock]
      security: [{ bearerAuth: [] }]
      summary: Medicines with total SUM(batch.qty) = 0
      responses:
        "200": { description: Out-of-stock medicines }
  /api/v1/stock/expiring:
    get:
      tags: [Stock]
      security: [{ bearerAuth: [] }]
      summary: Batches expiring within shop.upcomingExpireAlert days
      responses:
        "200": { description: Expiring batches }
  /api/v1/stock/expired:
    get:
      tags: [Stock]
      security: [{ bearerAuth: [] }]
      summary: Already-expired batches
      responses:
        "200": { description: Expired batches }
  /api/v1/pos/carts:
    post:
      tags: [POS]
      security: [{ bearerAuth: [] }]
      summary: Create an empty POS cart
      responses:
        "201": { description: Cart created }
  /api/v1/pos/carts/{id}:
    get:
      tags: [POS]
      security: [{ bearerAuth: [] }]
      summary: Get a cart with server-computed totals
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Cart with computed totals }
    patch:
      tags: [POS]
      security: [{ bearerAuth: [] }]
      summary: Set customer, payment method, paid amount, tax override, invoice discount
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                customerId: { type: integer, nullable: true }
                paymentMethodId: { type: integer, nullable: true }
                paidAmount: { type: number }
                taxRate: { type: number, nullable: true }
                taxAmount: { type: number, nullable: true }
                invoiceDiscount:
                  type: object
                  properties:
                    value: { type: number }
                    type: { type: string, enum: [percent, fixed] }
      responses:
        "200": { description: Updated cart }
  /api/v1/pos/carts/{id}/items:
    post:
      tags: [POS]
      security: [{ bearerAuth: [] }]
      summary: Add a medicine to the cart (auto-picks a FEFO sellable batch)
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [medicineId]
              properties:
                medicineId: { type: integer }
      responses:
        "200": { description: Updated cart }
        "422": { description: No sellable batch available (code no_batch) }
  /api/v1/pos/carts/{id}/items/{itemId}:
    patch:
      tags: [POS]
      security: [{ bearerAuth: [] }]
      summary: Update a cart line's qty, batch, or line discount
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
        - in: path
          name: itemId
          required: true
          schema: { type: string }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                qty: { type: integer, minimum: 1 }
                batchId: { type: integer }
                lineDiscount: { type: number }
      responses:
        "200": { description: Updated cart }
    delete:
      tags: [POS]
      security: [{ bearerAuth: [] }]
      summary: Remove a cart line
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
        - in: path
          name: itemId
          required: true
          schema: { type: string }
      responses:
        "200": { description: Updated cart }
  /api/v1/pos/checkout:
    post:
      tags: [POS]
      security: [{ bearerAuth: [] }]
      summary: Finalize a cart into an Invoice (batch decrement, method credit, customer due, ledger)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [cartId]
              properties:
                cartId: { type: integer }
      responses:
        "201": { description: Invoice created }
        "409": { description: Insufficient stock for a batch (concurrent oversell guard) }
        "422": { description: Empty cart / customer required when due > 0 / payment method required }
  /api/v1/invoices:
    get:
      tags: [Invoices]
      security: [{ bearerAuth: [] }]
      summary: List invoices
      parameters:
        - in: query
          name: customerId
          schema: { type: integer }
      responses:
        "200": { description: Paginated invoices }
  /api/v1/invoices/{id}:
    get:
      tags: [Invoices]
      security: [{ bearerAuth: [] }]
      summary: Invoice detail with customer, method, pays, and returns
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Invoice }
    delete:
      tags: [Invoices]
      security: [{ bearerAuth: [] }]
      summary: Delete an invoice, fully reversing stock/due/method/ledger side effects
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Deleted and reversed }
  /api/v1/invoices/{id}/pdf:
    get:
      tags: [Invoices]
      security: [{ bearerAuth: [] }]
      summary: Render the invoice as a PDF
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200":
          description: PDF bytes
          content:
            application/pdf: {}
  /api/v1/invoices/{id}/email:
    post:
      tags: [Invoices]
      security: [{ bearerAuth: [] }]
      summary: Email the invoice PDF to a recipient (defaults to the invoice customer's email)
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                to: { type: string, format: email }
      responses:
        "200": { description: Email sent }
        "422": { description: No recipient email available }
  /api/v1/invoices/{id}/payments:
    post:
      tags: [Invoices]
      security: [{ bearerAuth: [] }]
      summary: Pay down an invoice's outstanding due (method credited, customer due reduced)
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount, paymentMethodId]
              properties:
                amount: { type: number }
                paymentMethodId: { type: integer }
      responses:
        "201": { description: Payment recorded }
        "422": { description: Amount exceeds outstanding due }
  /api/v1/invoices/{id}/approve:
    post:
      tags: [Invoices]
      security: [{ bearerAuth: [] }]
      summary: Write off the invoice's outstanding due (due_price = 0 only)
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Due written off }
  /api/v1/invoices/{id}/returns:
    post:
      tags: [Invoices]
      security: [{ bearerAuth: [] }]
      summary: Return sold quantity for a batch on this invoice
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [batchId, quantity]
              properties:
                batchId: { type: integer }
                quantity: { type: integer, minimum: 1 }
      responses:
        "201": { description: Return recorded }
        "422": { description: Return quantity exceeds remaining line quantity }
    get:
      tags: [Invoices]
      security: [{ bearerAuth: [] }]
      summary: Sale return history for this invoice
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Paginated sale returns }
  /api/v1/doctors:
    get:
      tags: [Clinical]
      security: [{ bearerAuth: [] }]
      summary: List doctors (global, no shop_id)
      responses:
        "200": { description: Paginated doctors }
    post:
      tags: [Clinical]
      security: [{ bearerAuth: [] }]
      summary: Create doctor
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, title, phone, speciality]
              properties:
                name: { type: string }
                title: { type: string }
                phone: { type: string }
                speciality: { type: string }
                address: { type: string, nullable: true }
                hospital: { type: string, nullable: true }
      responses:
        "201": { description: Created }
        "409": { description: Doctor name already in use }
  /api/v1/doctors/{id}:
    get:
      tags: [Clinical]
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Doctor }
    patch:
      tags: [Clinical]
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Updated }
    delete:
      tags: [Clinical]
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Deleted }
  /api/v1/patients:
    get:
      tags: [Clinical]
      security: [{ bearerAuth: [] }]
      summary: List patients (global, no shop_id)
      responses:
        "200": { description: Paginated patients }
    post:
      tags: [Clinical]
      security: [{ bearerAuth: [] }]
      summary: Create patient
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, phone, address, gender, age]
              properties:
                name: { type: string }
                phone: { type: string }
                address: { type: string }
                gender: { type: string, enum: [male, female, other] }
                age: { type: integer, minimum: 0 }
      responses:
        "201": { description: Created }
  /api/v1/patients/{id}:
    get:
      tags: [Clinical]
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Patient }
    patch:
      tags: [Clinical]
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Updated }
    delete:
      tags: [Clinical]
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Deleted }
  /api/v1/lab-tests:
    get:
      tags: [Clinical]
      security: [{ bearerAuth: [] }]
      summary: List lab tests (global, no shop_id)
      responses:
        "200": { description: Paginated lab tests }
    post:
      tags: [Clinical]
      security: [{ bearerAuth: [] }]
      summary: Create lab test
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string }
                center: { type: string, nullable: true }
      responses:
        "201": { description: Created }
        "409": { description: Lab test name already in use }
  /api/v1/lab-tests/{id}:
    get:
      tags: [Clinical]
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Lab test }
    patch:
      tags: [Clinical]
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Updated }
    delete:
      tags: [Clinical]
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Deleted }
  /api/v1/prescriptions:
    get:
      tags: [Clinical]
      security: [{ bearerAuth: [] }]
      summary: List prescriptions (shop-scoped)
      responses:
        "200": { description: Paginated prescriptions }
    post:
      tags: [Clinical]
      security: [{ bearerAuth: [] }]
      summary: >
        Create a prescription. Generates a collision-safe unique
        prescriptionNo, and builds `medicines`/`tests` JSON from the parallel
        medicine/schedule/day/test arrays.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [patientId, referredTo, visitNo, description, advice]
              properties:
                patientId: { type: integer }
                referredTo:
                  type: integer
                  description: Doctor id (must exist)
                visitNo: { type: integer }
                visitFees: { type: number }
                description: { type: string }
                advice: { type: string }
                date: { type: string, format: date }
                medicine: { type: array, items: { type: string } }
                schedule: { type: array, items: { type: string } }
                day: { type: array, items: { type: string } }
                test: { type: array, items: { type: string } }
      responses:
        "201": { description: Created }
        "400":
          description: "Invalid patient/doctor, or mismatched medicine/schedule/day array lengths"
  /api/v1/prescriptions/{id}:
    get:
      tags: [Clinical]
      security: [{ bearerAuth: [] }]
      summary: Prescription detail with patient, referring doctor, parsed medicines/tests
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Prescription }
    patch:
      tags: [Clinical]
      security: [{ bearerAuth: [] }]
      summary: >
        Update a prescription (Node fix for Laravel's dd()-broken update();
        gated by prescription.store since no prescription.update permission
        is seeded).
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Updated }
        "400": { description: "Invalid patient/doctor, or mismatched array lengths" }
    delete:
      tags: [Clinical]
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Deleted }
  /api/v1/expense-categories:
    get:
      tags: [Accounting]
      security: [{ bearerAuth: [] }]
      summary: List expense categories (shop-scoped; lists both active and inactive)
      responses:
        "200": { description: Paginated expense categories }
    post:
      tags: [Accounting]
      security: [{ bearerAuth: [] }]
      summary: Create expense category
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string }
                description: { type: string, nullable: true }
                status: { type: string, enum: [active, inactive] }
      responses:
        "201": { description: Created }
        "409": { description: Category name already in use }
  /api/v1/expense-categories/{id}:
    get:
      tags: [Accounting]
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Expense category }
    patch:
      tags: [Accounting]
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Updated }
    delete:
      tags: [Accounting]
      security: [{ bearerAuth: [] }]
      summary: Delete a category (409 if any expenses still reference it)
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Deleted }
        "409": { description: Category still has expenses }
  /api/v1/expenses:
    get:
      tags: [Accounting]
      security: [{ bearerAuth: [] }]
      summary: List expenses (shop-scoped; filter by categoryId and date range)
      parameters:
        - in: query
          name: categoryId
          schema: { type: integer }
        - in: query
          name: dateFrom
          schema: { type: string, format: date }
        - in: query
          name: dateTo
          schema: { type: string, format: date }
      responses:
        "200": { description: Paginated expenses }
    post:
      tags: [Accounting]
      security: [{ bearerAuth: [] }]
      summary: >
        Create an expense. Posts a ledger entry: debit accountId (required),
        credit Accounts Payable (id 3) — TransactionService::expenseTransaction,
        preserved as-is per docs/DECISIONS.md.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [date, title, categoryId, accountId, amount]
              properties:
                date: { type: string, format: date }
                title: { type: string }
                categoryId: { type: integer }
                accountId: { type: integer, description: "Required (Node divergence from Laravel)" }
                amount: { type: number }
                reference: { type: string, nullable: true }
                note: { type: string, nullable: true }
      responses:
        "201": { description: Created }
        "400": { description: Invalid category/account }
  /api/v1/expenses/{id}:
    get:
      tags: [Accounting]
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Expense }
    patch:
      tags: [Accounting]
      security: [{ bearerAuth: [] }]
      summary: >
        Update an expense. When amount and/or accountId change, the original
        ledger entry is reversed and a new one is posted (Node integrity fix —
        Laravel leaves the ledger untouched on update).
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Updated }
    delete:
      tags: [Accounting]
      security: [{ bearerAuth: [] }]
      summary: >
        Delete an expense. Reverses its ledger entry in the same transaction
        (Node integrity fix).
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Deleted }
  /api/v1/account-types:
    get:
      tags: [Accounting]
      security: [{ bearerAuth: [] }]
      summary: List account types (global, no shop_id)
      responses:
        "200": { description: Paginated account types }
    post:
      tags: [Accounting]
      security: [{ bearerAuth: [] }]
      summary: Create account type
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string }
                status: { type: string, enum: [active, inactive] }
                serial: { type: integer }
      responses:
        "201": { description: Created }
        "409": { description: Name already in use }
  /api/v1/account-types/{id}:
    get:
      tags: [Accounting]
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Account type }
    patch:
      tags: [Accounting]
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Updated }
    delete:
      tags: [Accounting]
      security: [{ bearerAuth: [] }]
      summary: Delete an account type (409 if not deletable, or if accounts still reference it)
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Deleted }
        "409": { description: Not deletable / still has accounts }
  /api/v1/accounts:
    get:
      tags: [Accounting]
      security: [{ bearerAuth: [] }]
      summary: List accounts — chart of accounts (global, no shop_id)
      responses:
        "200": { description: Paginated accounts }
    post:
      tags: [Accounting]
      security: [{ bearerAuth: [] }]
      summary: Create account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, accountTypeId]
              properties:
                name: { type: string }
                accountTypeId: { type: integer }
                status: { type: string, enum: [active, inactive] }
                serial: { type: integer }
      responses:
        "201": { description: Created }
        "400": { description: Invalid accountTypeId }
  /api/v1/accounts/{id}:
    get:
      tags: [Accounting]
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Account }
    patch:
      tags: [Accounting]
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Updated }
    delete:
      tags: [Accounting]
      security: [{ bearerAuth: [] }]
      summary: >
        Delete an account (409 if not deletable — including seeded ids 1-4 —
        or if referenced by ledger transactions/expenses).
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Deleted }
        "409": { description: Not deletable / referenced by ledger or expenses }
  /api/v1/ledger-transactions:
    get:
      tags: [Accounting]
      security: [{ bearerAuth: [] }]
      summary: List ledger transactions (filter by accountId, invoiceType, date range)
      parameters:
        - in: query
          name: accountId
          schema: { type: integer }
        - in: query
          name: invoiceType
          schema:
            type: string
            enum: [sale, purchase, expense, manual, sale_return, purchase_return]
        - in: query
          name: dateFrom
          schema: { type: string, format: date }
        - in: query
          name: dateTo
          schema: { type: string, format: date }
      responses:
        "200": { description: Paginated ledger transactions }
    post:
      tags: [Accounting]
      security: [{ bearerAuth: [] }]
      summary: Post a manual journal entry (debitAccountId must differ from creditAccountId; amount > 0)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [debitAccountId, creditAccountId, amount, particular]
              properties:
                date: { type: string, format: date }
                debitAccountId: { type: integer }
                creditAccountId: { type: integer }
                amount: { type: number }
                particular: { type: string }
      responses:
        "201": { description: Created }
        "400": { description: "debitAccountId == creditAccountId, or invalid account" }
  /api/v1/ledger-transactions/{id}:
    get:
      tags: [Accounting]
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Ledger transaction }
  /api/v1/reports/accounting/trial-balance:
    get:
      tags: [Accounting]
      security: [{ bearerAuth: [] }]
      summary: Trial balance — per account, Σ debits and Σ credits
      responses:
        "200": { description: Trial balance rows + totals }
  /api/v1/reports/accounting/balance-sheet:
    get:
      tags: [Accounting]
      security: [{ bearerAuth: [] }]
      summary: >
        Balance sheet — CONVENTIONAL debit/credit-normal balances bucketed by
        account type (Node deviates from Laravel's buggy credit-debit-for-all
        formula; see docs/validation/BP6-validation.md).
      responses:
        "200": { description: Balance sheet buckets + totals }
  /api/v1/reports/accounting/income-statement:
    get:
      tags: [Accounting]
      security: [{ bearerAuth: [] }]
      summary: Income statement — revenue, expense, net (conventional signs, no selective abs())
      responses:
        "200": { description: Income statement }
  /api/v1/reports/customer-dues:
    get:
      tags: [Reports]
      security: [{ bearerAuth: [] }]
      summary: Customers with due > 0, sorted descending (shop-scoped, perm report.due_customer)
      responses:
        "200": { description: Customer dues list + meta.generatedAt }
        "403": { description: Missing report.due_customer permission }
  /api/v1/reports/customer-dues/export:
    get:
      tags: [Reports]
      security: [{ bearerAuth: [] }]
      summary: Customer dues report as .xlsx (exceljs) — same perm as the JSON variant
      responses:
        "200":
          description: xlsx file
          content:
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet: {}
  /api/v1/reports/supplier-payables:
    get:
      tags: [Reports]
      security: [{ bearerAuth: [] }]
      summary: Suppliers with due > 0, sorted descending (shop-scoped, perm report.payable_manufacturer)
      responses:
        "200": { description: Supplier payables list + meta.generatedAt }
  /api/v1/reports/supplier-payables/export:
    get:
      tags: [Reports]
      security: [{ bearerAuth: [] }]
      summary: Supplier payables report as .xlsx
      responses:
        "200":
          description: xlsx file
          content:
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet: {}
  /api/v1/reports/sale-purchase:
    get:
      tags: [Reports]
      security: [{ bearerAuth: [] }]
      summary: >
        Per-day sales vs. purchases totals for a shop-scoped date range (perm
        report.sale_purchase). Defaults to the current calendar month in the
        shop's timezone when `from`/`to` are omitted; `from > to` -> 400.
      parameters:
        - in: query
          name: from
          schema: { type: string, format: date }
        - in: query
          name: to
          schema: { type: string, format: date }
      responses:
        "200": { description: Daily rows + totals + meta.generatedAt }
        "400": { description: from > to }
  /api/v1/reports/sale-purchase/export:
    get:
      tags: [Reports]
      security: [{ bearerAuth: [] }]
      summary: Sales vs. purchases report as .xlsx
      parameters:
        - in: query
          name: from
          schema: { type: string, format: date }
        - in: query
          name: to
          schema: { type: string, format: date }
      responses:
        "200":
          description: xlsx file
          content:
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet: {}
  /api/v1/reports/profit-loss:
    get:
      tags: [Reports]
      security: [{ bearerAuth: [] }]
      summary: >
        Revenue / cost-of-sales / net profit for a shop-scoped date range (perm
        report.profit_loss). Computed from shop-scoped invoices/purchases
        (revenue − cost) since the global chart-of-accounts Income Statement
        (BP6) is not shop-scoped — see docs/validation/BP7-validation.md.
      parameters:
        - in: query
          name: from
          schema: { type: string, format: date }
        - in: query
          name: to
          schema: { type: string, format: date }
      responses:
        "200":
          description: "revenue, costOfSales, netProfit + meta.generatedAt"
        "400":
          description: "from > to"
  /api/v1/reports/profit-loss/export:
    get:
      tags: [Reports]
      security: [{ bearerAuth: [] }]
      summary: Profit/loss report as .xlsx
      parameters:
        - in: query
          name: from
          schema: { type: string, format: date }
        - in: query
          name: to
          schema: { type: string, format: date }
      responses:
        "200":
          description: xlsx file
          content:
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet: {}
  /api/v1/dashboard/summary:
    get:
      tags: [Dashboard]
      security: [{ bearerAuth: [] }]
      summary: >
        Auth-only (no dedicated permission), strictly shop-scoped KPI summary:
        salesToday, salesThisMonth, lowStockCount, expiringCount, expiredCount,
        customerDueTotal, supplierDueTotal. "Today"/"this month" resolved in
        the shop's configured timezone.
      responses:
        "200": { description: Dashboard summary }
  /api/v1/languages:
    get:
      tags: [Languages]
      security: [{ bearerAuth: [] }]
      summary: List languages (perm language.index); optional ?status=active|inactive filter
      parameters:
        - in: query
          name: status
          schema: { type: string, enum: [active, inactive] }
      responses:
        "200": { description: Paginated languages }
    post:
      tags: [Languages]
      security: [{ bearerAuth: [] }]
      summary: Create a language (perm language.store); duplicate iso -> 409
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, iso]
              properties:
                name: { type: string }
                iso: { type: string, example: en }
                icon: { type: string, nullable: true }
                status: { type: string, enum: [active, inactive] }
      responses:
        "201": { description: Created }
        "409": { description: iso already exists }
  /api/v1/languages/{id}:
    get:
      tags: [Languages]
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Language }
        "404": { description: Not found }
    patch:
      tags: [Languages]
      security: [{ bearerAuth: [] }]
      summary: Update basic fields (name/icon/status) — reuses perm language.store
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                icon: { type: string, nullable: true }
                status: { type: string, enum: [active, inactive] }
      responses:
        "200": { description: Updated }
    delete:
      tags: [Languages]
      security: [{ bearerAuth: [] }]
      summary: Delete a language (perm language.destroy)
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Deleted }
  /api/v1/languages/{id}/terms:
    patch:
      tags: [Languages]
      security: [{ bearerAuth: [] }]
      summary: >
        Merge (not replace) partial translation terms into the language's
        terms map (perm language.terms.update).
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [terms]
              properties:
                terms: { type: object, additionalProperties: true }
      responses:
        "200": { description: Updated language with merged terms }
  /api/v1/notifications:
    get:
      tags: [Notifications]
      security: [{ bearerAuth: [] }]
      summary: Inbox for the authenticated user (receiverId = currentUser), newest first, paginated
      responses:
        "200": { description: Paginated notifications }
        "400": { description: limit=0 or negative limit }
  /api/v1/notifications/unread-count:
    get:
      tags: [Notifications]
      security: [{ bearerAuth: [] }]
      summary: Count of the caller's unseen notifications (registered before /:id)
      responses:
        "200": { description: "{ unreadCount }" }
  /api/v1/notifications/seen-all:
    patch:
      tags: [Notifications]
      security: [{ bearerAuth: [] }]
      summary: Mark all of the caller's unseen notifications as seen (no-op if already empty)
      responses:
        "200": { description: Marked }
  /api/v1/notifications/{id}:
    get:
      tags: [Notifications]
      security: [{ bearerAuth: [] }]
      summary: Marks the notification as seen and returns its detail. 404 if nonexistent, 403 if not the receiver.
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Notification detail }
        "403": { description: Not the receiver }
        "404": { description: Not found }
  /api/v1/notifications/{id}/seen:
    patch:
      tags: [Notifications]
      security: [{ bearerAuth: [] }]
      summary: Mark seen only, no detail payload (idempotent)
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Marked }
        "403": { description: Not the receiver }
        "404": { description: Not found }
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    PosPrinterSettings:
      type: object
      required: [autoPrint, preferredPrinter, paperSize, receiptFooter]
      properties:
        autoPrint: { type: boolean }
        preferredPrinter: { type: string, nullable: true }
        paperSize: { type: string, enum: [A4, '80mm', '58mm'] }
        receiptFooter: { type: string, nullable: true }
tags:
  - name: Auth
  - name: Users
  - name: RBAC
  - name: Settings
  - name: PaymentMethods
  - name: Customers
  - name: Suppliers
  - name: Vendors
  - name: Categories
  - name: Catalog
  - name: Medicines
  - name: Purchases
  - name: Stock
  - name: POS
  - name: Invoices
  - name: Clinical
  - name: Accounting
  - name: Reports
  - name: Dashboard
  - name: Languages
  - name: Notifications
